{% extends 'base.html' %}
{% block body_css %}
<style>
    #id_suplement {
        list-style-type: none;
    }

    input, #id_sex{
        background-color: rgba(214, 229, 250, 0.85);
        border-top: black;
        border-left: black;
        border-right: black;
        border-radius: 10px;
        text-align: center;
        margin-left: 10px;
        font-family: 'Oxygen', sans-serif;
    }

    #id_photo{
        text-align: end;
    }

    #id_sex {
        width: 185px;
        height: 28px;
    }

    #custom-file{
        width: 250px;
    }

</style>
{% endblock %}
{% block title %}
Edycja
{% endblock %}

{% block body %}
    <h1> Formularz edycyjny konia <br>{{ form.name.value }}</h1>
    <form method="post">
        {% csrf_token %}
        <div class="container" id="container_c">
            <div class="row justify-content-md-center">
                    <p style="padding-top: 25px">Wiek: {{ form.age }}</p>
            </div>
            <div class="row justify-content-md-center">
                <p>Imię: {{ form.name }}</p>
            </div>
            <div class="row justify-content-md-center">
                <p>Maść: {{ form.breed }}</p>
            </div>
            <div class="row justify-content-md-center">
                <p>Płeć: {{ form.sex }}</p>
            </div>
            <div class="row justify-content-md-center">
                <p>Imię matki:{{ form.mother_name }}</p>
            </div>
            <div class="row justify-content-md-center">
                <p>Imię ojca: {{ form.father_name }}</p>
            </div>
            <div class="row justify-content-md-center">
                <p hidden="hiden">Zdjęcie: {{ form.photo }}</p>
                <p>Zdjęcie: <input class="btn btn-success" value="Kliknij aby wybrać nowy plik" id="custom-file"></p>
            </div>
            <div class="row justify-content-md-center">
                <p>Suplementacja: {{ form.suplement }}</p>
            </div>
        </div>
            {% for schedule_item in horse_schedule_item %}
                <p> {{ schedule_item.title }} {{ schedule_item.dueDate|date:'d/m/Y' }} {{ schedule_item.dueTime|time:'H:i:s' }}</p>
            {% empty %}
                <p>Brak wydarzeń</p>
            {% endfor %}

        <a class="btn btn-primary" href="{% url 'schedule_items_url:create_schedule_item' horse_id=horse_id%}">Dodaj nowe wydarzenie</a>
        <br>
        <br>
        <input class="btn btn-primary" type="submit" value="Zapisz zmiany" />
    </form>

    <script type="text/javascript">
        const realPhotoClick = document.getElementById("id_photo")
        const customButton = document.getElementById("custom-file")
        customButton.addEventListener("click", function () {
            realPhotoClick.click()
        })
    </script>
{% endblock %}