{% extends 'base.html' %}

{% block title %}
Spis koni
{% endblock %}
{% block body_css %}
    <style>
    h1 {
        text-align: center;
        padding-bottom: 50px;
        padding-top: 50px;
        font-size: 70px;
    }

    li {
        text-align: center;
        font-weight: bold;
        color: black;
        background-color: rgba(250, 235, 215, 0.85);
    }

    </style>
{% endblock %}
{% block body %}
    <h1> Witaj, {{ user.first_name }} {{ user.last_name }}. <br>Oto spis Twoich koni. </h1>
    <ul style="list-style-type: none">
    <div class="container">
        <div class="row justify-content-md-center">
            {% for horse in horses %}

            <div class="col-md-auto">
                <li style="border-top-left-radius: 25px; border-top-right-radius: 25px"> Imię: {{ horse.name }} </li>
                <li> Wiek: {{ horse.age }} </li>
                {% if horse.breed != None %}
                    <li> Maść: {{ horse.breed }}</li>
                {% else %}
                <li> Maść: Brak</li>
                {% endif %}
                <a class="btn btn-info" href="/stable/edit-horse/{{ horse.id }}">Edytuj konia</a>
                <a class="btn btn-danger" href="/stable/delete-horse/{{ horse.id }}">Usuń konia</a>
                <a class="btn btn-info" href="/stable/horse-details/{{ horse.id }}">Szczegóły</a>
            </div>
            {% if forloop.counter|divisibleby:3%}
                </div>
                <br>
                <div class="row justify-content-md-center">

            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% block main_page %}
    <br>
    {% endblock %}
    <br>
    <div style="text-align: center">
    <a class="btn btn-info" href="{% url 'horses_url:create_horse' %}">Dodaj nowego konia</a>
    {% if user.is_authenticated %}
        <a class="btn btn-warning" href="{% url 'logout' %}">Wyloguj się</a>
    {% endif %}
    </div>
</ul>
{% endblock %}