{% extends 'base.html' %}

{% block title %}
     Karta zdrowia - {{ health_card.name }}
{% endblock %}

{% block body %}
    <table>

        <tr>
            <th>Typ</th>
            <th>Data</th>
            <th>Opis</th>
        </tr>
        {% if health_card_records %}
            {% for record in health_card_records %}
            <tr>
                <td>{{ record.type }}</td>
                <td>{{ record.date }}</td>
                <td>{{ record.description }}</td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td> Brak rekordów </td>
            </tr>
        {% endif %}
        <tr>
            <td><a class="btn btn-primary" href="{% url 'health_card_urls:create_healthcard_record' horse_id=health_card.id%}">Dodaj rekord</a></td>
        </tr>
    </table>
{% endblock %}

