{% extends 'base.html' %}
{% block body %}
    <form method="post">
        {% csrf_token %}
        <div style="text-align: center; margin-top: 5%">
            <p id="signup_p">{{ form.email.label_tag }}</p>
            <p id="signup_p">{{ form.email }}</p>
            <p id="signup_p">{{ form.first_name.label_tag }}</p>
            <p id="signup_p">{{ form.first_name }}</p>
            <p id="signup_p">{{ form.last_name.label_tag }}</p>
            <p id="signup_p">{{ form.last_name }}</p>
            <p id="signup_p">{{ form.password.label_tag }}</p>
            <p id="signup_p">{{ form.password }}</p>
            <p id="signup_p">{{ form.password_2.label_tag }}</p>
            <p id="signup_p">{{ form.password_2 }}</p>
            <input class="btn btn-primary" type="submit" value="Zarejestruj się" />
        </div>
    </form>
{% endblock %}