{% extends 'base.html' %}
{% load static %}
{% block title %}
    Szczegóły {{ horse.name }}
{% endblock %}

{% block body %}
    <h1>Szczegóły konia {{ horse.name }}</h1>
    <div class="container" id="container_c">
    {% if photo_path != "None" %}
        <div class="row justify-content-around" style="padding-top: 25px; padding-bottom: 10px">
            <div class="col-md-auto">
                <div class="row justify-content-md-center">
                    <p>Nazwa: {{ horse.name }}</p>
                </div>
                <div class="row justify-content-md-center">
                    <p>Maść: {{ horse.breed }}</p>
                </div>
                <div class="row justify-content-md-center">
                    <p>Płeć: {{ horse.sex }}</p>
                </div>
                <div class="row justify-content-md-center">
                    {% if health_card != 'Brak' %}
                        <p>Karta zdrowia: <a href="{% url 'health_card_urls:get_health_card' healthcard_id=horse.health_card.id %}">{{ horse.health_card }}</a></p>
                    {% else %}
                        <p>Karta zdrowia: <a href="{% url 'health_card_urls:create_health_card' horse_id=horse.id %}">Utwórz kartę zdrowia</a></p>
                    {% endif %}
                </div>
                <div class="row justify-content-md-center">
                    {% if horse.mother_name != 'None' %}
                        <p>Imię matki: Brak</p>
                    {% else %}
                        <p>Imię matki: {{ horse.mother_name }}</p>
                    {% endif %}
                </div>
                <div class="row justify-content-md-center">
                    {% if horse.father_name != 'None' %}
                        <p>Imię ojca: Brak</p>
                    {% else %}
                        <p>Imię ojca: {{ horse.father_name }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-auto">
                <img alt="Image" src="{% static photo_path %}">
            </div>

        </div>
        <div class="row justify-content-around">
            <div class="col-md-auto">
            <p>Suplementy:</p>
                {% for suplement in suplements %}
                    <div class="row justify-content-md-center"><p>{{ suplement.suplement_name }}</p></div>
                {% empty %}
                    <div class="row justify-content-md-center"><p>Brak przypisanych suplementów</p></div>
                {% endfor %}
            </div>
            <div class="col-md-auto">
            <p>Wydarzenia:</p>
                {% for schedule_item in horse.schedule_item.all %}
                    <div class="row justify-content-md-center"><p>{{ schedule_item.title }}</p></div>
                {% empty %}
                    <div class="row justify-content-md-center"><p>Brak przypisanych wydarzeń</p></div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <div class="row justify-content-around" style="padding-top: 25px; padding-bottom: 10px">
            <div class="col-md-auto">
                <div class="row justify-content-md-center">
                    <p>Nazwa: {{ horse.name }}</p>
                </div>
                <div class="row justify-content-md-center">
                    <p>Maść: {{ horse.breed }}</p>
                </div>
                <div class="row justify-content-md-center">
                    <p>Płeć: {{ horse.sex }}</p>
                </div>
                {% if health_card != "Brak" %}
                    <p>Karta zdrowia: <a href="{% url 'health_card_urls:get_health_card' healthcard_id=horse.health_card.id %}">{{ horse.health_card }}</a></p>
                {% else %}
                    <p>Karta zdrowia: <a href="{% url 'health_card_urls:create_health_card' horse_id=horse.id %}">Utwórz kartę zdrowia</a></p>
                {% endif %}
                <div class="row justify-content-md-center">
                    {% if horse.mother_name != 'None' %}
                        <p>Imię matki: Brak</p>
                    {% else %}
                        <p>Imię matki: {{ horse.mother_name }}</p>
                    {% endif %}
                </div>
                <div class="row justify-content-md-center">
                    {% if horse.father_name != 'None' %}
                        <p>Imię ojca: Brak</p>
                    {% else %}
                        <p>Imię ojca: {{ horse.father_name }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-auto">
                <div class="row justify-content-md-center">
                    <p>Suplementy:</p>
                </div>
                {% for suplement in suplements %}
                    <div class="row justify-content-md-center"><p>{{ suplement.suplement_name }}</p></div>
                {% empty %}
                    <div class="row justify-content-md-center"><p>Brak przypisanych suplementów</p></div>
                {% endfor %}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-auto">
                <p>Wydarzenia:</p>
                {% for schedule_item in horse.schedule_item.all %}
                    <div class="row justify-content-md-center"><p>{{ schedule_item.title }}</p></div>
                {% empty %}
                    <div class="row justify-content-md-center"><p>Brak przypisanych wydarzeń</p></div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    </div>


{% endblock %}